.infoCard-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapp {
    height: 120px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.card-title {
    text-align: center;
    flex: 1;
    display: flex;
}

.card-content {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.label-row-wrapp {
    width: 89%;
    margin: 0 auto;
    height: 40px;
    display: flex;
    align-items: center;    
    justify-content: flex-start;
}

.date-label {
    font-size: 20px;
    font-weight: bold;
}
